.header {
  background-color: green;
}

.title {
  text-align: center;
  font-size: 30px;
  color: white;
}

.second-title {
  text-align: center;
  font-size: 20px;
  color: white;
}

.product {
  text-align: center;
  border: 2px solid green;
  list-style: none;
  padding: 10px;

}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}